html, body { width: 100%; height: 100%; overflow: hidden; color: rgb(0,0,0); }
#footer { background: rgb(255,255,255); }
div { position: absolute; }
#tableContainer { position: relative; }

table, tr, div, li, ul, ol, img, p, div { display: block; }
th, td { width: 20%; display: inline-block; }
b { font-weight: bold; }
i { font-style: italic; }
a { color: #0000ff; }

#header {
	left: 0;
	top: 0;
	width: 100%;
	height: 20%;
	background: rgb(80,80,80);
}

#contentFooter, #tableContainer { margin: 0; }

#main {
	left: 0;
	top: 20%;
	width: 100%;
	height: 60%;
	box-shadow: none;
}

#sidebar {
	left: 0;
	top: 0;
	width: 30%;
	height: 100%;
	background: rgb(161,161,161);
}

#content {
	left: 20%;
	top: 0;
	width: 80%;
	height: 100%;
	background: rgb(211,211,211);
}

#contentFooter {
	top: 80%;
	left: 0;
	width: 100%;
	height: 20%;
	background: linear-gradient(to right,rgb(255,0,0),rgb(255,255,0),rgb(191,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255),rgb(255,0,0));
}

#footer {
	left: 0;
	top: 80%;
	height: 20%;
	width: 100%;
}

.halfWide {
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: rgb(80,80,80);
	margin: 0;
}

.hwRight {
	left: 50%;
	background: rgb(30,144,255);
}

.handle {
	background: rgb(255,0,0);
	position: fixed;
	display: block;
}

#hueBar, #saturationValueBoxContainer { position: relative; height: 18px; border: 1px solid rgb(255, 255, 255); border-radius: 2px; box-shadow: 0px 0px 5px rgb(75, 75, 75); width: 320px; }
#hueBar { position: fixed; left: 0px; top: 107px; z-index: 40; }
#saturationValueBoxContainer { z-index: 40; width: 320px; height: 320px; }
#satValInnerGrad { width: 320px; height: 320px; }
#saturationValueBox { width: 320px; height: 320px; }
#hexCodeContainer { position: relative; width: 100%; font: 80% Tahoma, Arial, Helvetica, sans-serif; z-index: 1; }
#hexCode { width: 85%; display: block; background: rgb(255, 255, 255); text-align: center; }
#satValVerticalLine, #opacityBarVerticalLine { width: 1px; position: absolute; top: 0; background: rgb(0, 0, 0); }
#satValVerticalLine { height: 100%; }
div#opacityBarVerticalLine { height: 15px; }
#satValHorizontalLine { width: 100%; height: 1px; position: absolute; left: 0; background: rgb(0, 0, 0); }
#hueBar button { margin-top: 0; }
#hueBar button, #saturationValueBox button {
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid rgb(102, 102, 102);
    background: rgb(128, 128, 128);
    position: fixed;
}

#astronautLEM {
	width: 233px;
	height: 155px;
}
